h1 {
    text-align: center;
    padding-top: 100px;
}

p.lead {
    text-align: center;
    padding-top: 20px;
}

#orderForm {
    text-align: center;
    padding-top: 30px;
}

#customDiv {
    padding: 10px 30px 10px 30px;
}

#btnDiv {
    padding-top: 30px;
    padding-bottom: 80px;
}

#outputOption {
    padding-bottom: 30px;
}

textarea {
    width: 45%;
    height: 300px;
}

.main {
    margin: 0 auto;
    padding-top: 64px;
    width: 94%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

